<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{page_header}} | XaNTHUS</title>
    <meta name="description" content="{{description}}">
    <meta name="keywords" content="{{keywords}}">
  </head>
  <body>
    <header>
      <h1>Index of {{path}}</h1>
      <div id="project_info">
        <p>Part of <a href="{{project_toplevel_url}}">{{project}}</a></p>.
        <p>Part of <a href="{{home_link}}">{{installation_title}}</a></p>.
      </div>
      <div id="short_fortune">{{fortune_short}}</div>
      <div id="pins" class="item_list">
        <ul>
          {{#pins}}
            <li><a href="{{url}}">{{title}}</a>
          {{/pins}}
        </ul>
      </div>
      <div id="links" class="item_list">
        <ul>
          {{#links}}
            <li><a href="{{url}}">{{title}}</a>
          {{/links}}
        </ul>
      </div>
      <div id="photos" class="item_list">
        <ul>
          {{#photos}}
            <li><a href="{{url}}"><img src="{{url}}"/><br/>{{title}}</a>
          {{/photos}}
        </ul>
      </div>
      <div id="autopins" class="item_list">
        <ul>
          {{#links}}
            <li><a href="{{url}}">{{title}}</a>
          {{/links}}
        </ul>
      </div>
      <div id="texts" class="item_list">
        <ul>
          {{#texts}}
            <li>{{text}}
          {{/texts}}
        </ul>
      </div>
      <nav class="item_list">
        {{#navlinks}}
        <ul>
          <li><a href="{{first_link}}">&Ll; first ({{first_title}})</a></li>
          <li><a href="{{prev_link}}">&ll; previous ({{prev_title}})</a></li>
          <li><b><a href="{{home_link}}">&uuarr; home &uuarr;</a></b></li>
          <li><a href="{{next_link}}">next ({{next_title}}) &gg;</a></li>
          <li><a href="{{last_link}}">last ({{last_title}}) &Gg;</a></li>
       {{/navlinks}}
      </nav>
    </header>
    <main>
    </main>
    <footer>
      <nav class="item_list">
        {{#navlinks}}
        <ul>
          <li><a href="{{first_link}}">&Ll; first ({{first_title}})</a></li>
          <li><a href="{{prev_link}}">&ll; previous ({{prev_title}})</a></li>
          <li><b><a href="{{home_link}}">&uuarr; home &uuarr;</a></b></li>
          <li><a href="{{next_link}}">next ({{next_title}}) &gg;</a></li>
          <li><a href="{{last_link}}">last ({{last_title}}) &Gg;</a></li>
       {{/navlinks}}
      </nav>
      <span id="whoami">Generated by <a href="https://github.com/aelzenaar/xanthus">XaNTHUS</a> {{xanthus_version}} | timestamp {{generation_time}} | location {{generation_location}}</span>
    </footer>
  </body>
</html>

